* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow: hidden;
}
#overlay {
  position: absolute;
  z-index: 100;
  left: 0px;
  top: 50px;
  width: 100%;
  color: #888;
  font-family: monospace;
  font-size: large;
  text-align: right;
  padding: 50px 100px;
  pointer-events:none;
}
#instructions {
  position: absolute;
  z-index: 101;
  left: 0px;
  top: 600px;
  width: 100%;
  color: #888;
  font-family: monospace;
  font-size: large;
  text-align: center;
  pointer-events:none; 
}
